---
import Project from '../components/projects.astro';
---

<div>
  <h2 class="mb-4 text-xl font-semibold text-[#d0d6f9] drop-shadow">Projects</h2>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    <Project
      name="Lunar"
      description="A game site packed with games, apps, a proxy and a sleek user interface."
      href="https://lunaron.top"
    />
    <Project
      name="Solar"
      description="A cat themed discord bot with many features such as filter checking, afk & more"
      href="https://discord.com/oauth2/authorize?client_id=1340857806177177760&permissions=563226978929665&integration_type=0&scope=bot"
    />
  </div>
</div>
