<div class="flex flex-col items-center space-y-4">
  <h2 class="mb-2 text-xl font-semibold text-[#d0d6f9] drop-shadow">Skills</h2>
  <img
    src="https://skillicons.dev/icons?i=html,astro,css,tailwind,js,ts,nodejs,npm,vscode,github,discord,linux,py&perline=13"
    alt="Skills"
    class="rounded-xl shadow-md shadow-purple-900/40"
  />
</div>
