<div>
  <div class="flex items-center mt-4 space-x-4">
    <a
      href="https://github.com/bearcattt"
      target="_blank"
      class="font-semibold flex items-center space-x-2 text-[#aab0d0] hover:text-white hover:drop-shadow transition"
    >
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
        alt="GitHub"
        class="w-5 h-5"
      />
      <span>GitHub</span>
    </a>

    <span class="w-[2px] h-5 bg-[#aab0d0] opacity-40"></span>

    <a
      href="https://discord.com/users/997203884428767282"
      target="_blank"
      class="font-semibold flex items-center space-x-2 text-[#aab0d0] hover:text-white hover:drop-shadow transition"
    >
      <img src="/images/dis.png" alt="Discord" class="w-5 h-5" />
      <span>Discord</span>
    </a>
  </div>
</div>
